@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"),
    url("../fonts/Oswald-Regular.woff") format("woff");
}

//Global

@import "./global/variables.scss";
@import "./global/global.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";

//Blocks

@import "./blocks/page-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/page-main.scss";
@import "./blocks/catalog.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/invitation.scss";

@import "./blocks/promo.scss";
@import "./blocks/categories.scss";
@import "./blocks/about.scss";
@import "./blocks/live-example.scss";

@import "./blocks/card.scss";
@import "./blocks/buttons.scss";
@import "./blocks/small-card.scss";
@import "./blocks/social.scss";
@import "./blocks/show-more.scss";
@import "./blocks/copyright.scss";
@import "./blocks/map.scss";
@import "./blocks/logo.scss";

body {
  margin: 0;
  background-color: #ffffff;
  color: $text-color-main;
  font-family: "Oswald", serif;
  // line-height: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
