@import "../global/variables.scss";

@mixin container {
  padding: 0 $mobile-padding;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    padding: 0 $tablet-padding;
  }
  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 $desktop-padding;
  }
}
