.additional-products {
  position: relative;
}

.additional-products__wrapper {
  padding: 11px $mobile-padding 18px $mobile-padding;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    padding: 11px $tablet-padding 18px $tablet-padding;
  }
  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.additional-products__title-wrapper {
  padding: 11px $mobile-padding 18px 0;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    padding: 11px $tablet-padding 18px 0;
  }
  @media (min-width: $desktop-width) {
    max-width: 1250px;
  }
}

.additional-products__title {
  display: inline-block;
  margin: 0 (-$mobile-padding);
  padding: 20px $mobile-padding 15px $mobile-padding;
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  background-color: #ffffff;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 37px;
    width: 100vw;
    left: -20px;
    z-index: -1;
    height: 2px;
    background-color: $color-main;
    @media (min-width: $tablet-width) {
      top: 48px;
    }
    @media (min-width: $desktop-width) {
      top: 50px;
      left: calc((50vw - 1220px / 2) * -1);
    }
  }
  @media (min-width: $tablet-width) {
    margin: 0 calc(15px - $tablet-padding);
    padding: 26px $tablet-padding 15px calc($tablet-padding - 15px);
    font-size: 36px;
    line-height: 36px;
  }
  @media (min-width: $desktop-width) {
  }
}

.additional-products__content {
  @media (min-width: $desktop-width) {
    margin: 0 -40px;
    display: flex;
  }
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    max-width: 75%;
    flex: 0 0 75%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.additional-products__get-gift {
  margin-top: 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #f2f2f2;
  height: 289px;
  background-color: $color-main;
  background-image: url("/src/img/gift-photo-desktop.jpg");
  background-position: 50% 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: $tablet-width) {
    background-image: url("/src/img/gift-photo-tablet.jpg");
    width: 100%;
    height: 200px;
  }
  @media (min-width: $desktop-width) {
    background-image: url("/src/img/gift-photo-desktop.jpg");
    margin-top: 0;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px;
    height: auto;
  }
}

.additional-products__get-gift-text {
  padding: 0 50px;
}
