@import "../global/variables.scss";

.additional-products {
  @include mobile-container-with-paddings;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    @include tablet-container-with-paddings;
  }
  @media (min-width: $desktop-width) {
    @include desktop-container-with-paddings;
  }
  &__content {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__get-gift {
    @media (min-width: $tablet-width) {
      width: 300px;
    }
    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }
}
