@import "../global/variables.scss";
@import "../global/mixins.scss";

.catalog {
  @include mobile-container-with-paddings;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    @include tablet-container-with-paddings;
  }
  @media (min-width: $desktop-width) {
    @include desktop-container-with-paddings;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    width: 300px;
  }
  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
