.how-it-works {
  padding: 0 $mobile-padding;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    padding: 0 $tablet-padding;
  }
  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}
.how-it-works__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 38px;
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}
.how-it-works__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: how-it-works;
  }
  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}
.how-it-works__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  @media (min-width: $tablet-width) {
    flex-basis: 40%;
    height: 280px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin-bottom: 37px;
    &::before {
      content: counter(how-it-works);
      counter-increment: how-it-works;
      position: absolute;
      z-index: -1;
      top: 0;
      font-size: 280px;
      line-height: 280px;
      color: $card-bgc;
      right: 0;
    }
  }
  @media (min-width: $desktop-width) {
    min-width: auto;
    margin-right: 80px;
    margin-bottom: 0px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.how-it-works__icon-wrapper {
  min-width: 60px;
  height: 60px;
  background-color: $color-main;
  position: relative;
  margin-right: 20px;
  @media (min-width: $tablet-width) {
    min-width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 31px;
  }
}

.how-it-works__icon {
  position: absolute;
  top: 25%;
  left: 25%;
  @media (min-width: $tablet-width) {
    top: 30%;
    left: 30%;
  }
}

.how-it-works__text {
  margin: 0;
  font-family: "Arial", serif;
  font-size: 14px;
  line-height: 18px;
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
