@import "../global/variables.scss";

.main-nav__list {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
