.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.main-nav__item:last-child a {
  margin-right: 0;
}

.main-nav__item a {
  font-size: 18px;
  line-height: 0;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  margin-right: 34px;
  padding-bottom: 6px;
  &:hover {
    color: lighten($text-color-main, 50%);
  }
}

.page-header-promo {
  @media (min-width: $desktop-width) {
    & .main-nav__item a {
      color: #ffffff;
    }
    & .main-nav__item--active a {
      border-bottom: 2px solid #ffffff;
    }
  }
}

.main-nav__item--active a {
  border-bottom: 2px solid $color-main;
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 16px;
  position: relative;
  box-shadow: 0 2px 0 0 #000000;
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000000;
    top: 8px;
    left: 0;
  }
}

@media (max-width: 767px) {
  .main-nav__list--opened {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    top: 66px;
    left: 0;
    font-size: 20px;
    line-height: 20px;
    & .main-nav__item {
      text-align: center;
      border-top: 1px solid $color3;
      padding: 18px 0;
      &:last-child {
        border-bottom: 1px solid $color3;
      }
    }
    a {
      margin: 0;
    }
  }

  .main-nav__list--opened ~ .main-nav__toggle {
    box-shadow: none;
    &::before {
      content: "";
      position: absolute;
      transform: rotate(45deg);
      height: 2px;
      width: 100%;
      background-color: #000000;
      top: 8px;
      left: 0;
    }
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      transform: rotate(-45deg);
      background-color: #000000;
      top: 8px;
      left: 0;
    }
  }
}
