.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $mobile-padding;
  margin: 0 auto;
  height: 66px;
  @media (max-width: 767px) {
    border-bottom: 1px solid $color3;
  }
  @media (min-width: $tablet-width) {
    padding: 11px $tablet-padding 18px $tablet-padding;
  }
  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.page-header__logo-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
