.page-footer {
  background-color: $card-bgc;
}

.page-footer__wrapper {
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 $mobile-padding;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    padding: 0 $tablet-padding;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 11px $desktop-padding 18px $desktop-padding;
  }
}

.page-footer__logo {
  padding: 25px 0;
}

.page-footer__copyright {
  width: 100%;
  @media (min-width: $tablet-width) {
    width: auto;
  }
}
