@import "../global/variables.scss";
@import "../global/mixins.scss";

.page-footer {
  display: flex;
  flex: wrap;
  flex-direction: column;
  @include mobile-container-with-paddings;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    @include tablet-container-with-paddings;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    @include desktop-container-with-paddings;
  }
}
